.ws-item-title-style {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.ws-item-des-style {
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ws-item-icon-container {
    background-color: #F6F7FB;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: 160px;
}

.ws-item-icon-container .icon-position {
    padding: 15px;
}